*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
h1{
     text-align: center;
}
.quiz-container{
    margin: 0 auto;
    padding: 40px;  
}

.quiz-wrapper{
    min-height: 200px;
    margin: auto;
    width: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    gap: 40px;
}
.options{
    display: flex;
    flex-direction: column;
}
